<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body style="background-color: #234d4c;">
    <div align="center">
        <br/><br/><br/><br/>
        <h1>Group-Mail</h1>
        <br/><br/><br/><br/>
        <form method="post">
            <input type="text" name="username" placeholder="username" required/><br/>
            <input type="password" name="password" placeholder="password" required/><br/><br/>
            <button>Submit</button>
        </form>
        <br/>
        <p style="color:#c418a2;">{{ .StatusText }}</p>
    </div>
</body>

</html>
